.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.05)),
    url("~top.jpg") center no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0;
  border-radius: 0;
}

.text-top-color {
  color: #fd3378;
  font-weight: 600;
  padding: 6px 24px;
}

.top-title {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 2px;
  white-space: nowrap;
}

.top-authentication {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__sign-up-btn {
    background: #fd3378;
    border-radius: 30px;
    padding: 4px;
    white-space: nowrap;
  }
  &__sign-in-btn {
    border-radius: 30px;
    padding: 4px;
    white-space: nowrap;
    border-style: solid;
    border-color: #fff;
    border-width: 2px;
  }
  &__car-group-maching-btn {
    background: greenyellow;
    border-radius: 30px;
    padding: 4px;
    white-space: nowrap;
  }
}

.top-qr {
  position: absolute;
  top: 80%;
  left: 85%;
  transform: translate(-50%, -50%);
}
.qr-font {
  font-weight: bold;
}

@media (max-width: 767px) {
  .navbar__sign-in-btn,
  .top-qr {
    display: none;
  }
}

@media (min-width: 768px) {
  .top-authentication {
    &__sign-in-btn {
      display: none;
    }
  }
}

@media (max-width: 1067px) {
  .display-max {
    display: none;
  }
}

@media (min-width: 1068px) {
  .display-middle {
    display: none;
  }
}

@media (max-width: 650px) {
  .display-middle {
    display: none;
  }
}

@media (min-width: 651px) {
  .display-min {
    display: none;
  }
}
